/*********************/
/* || GENERAL STYLES */
/*********************/

:root {
  --main-color: black;
  --mu-color: #f0b410;
  --light-main-color: #202525;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Mulish;
  src: url(../fonts/Mulish/Mulish-VariableFont_wght.ttf);
}

@font-face {
  font-family: Bungee;
  src: url(../fonts/Bungee/Bungee-Regular.ttf);
}

body {
  font-family: Mulish;
}

button {
  padding: 8px;
  font-family: Mulish;
  font-weight: 900;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

hr {
  border: 0;
  background-color: lightgrey;
  clear:both;
  display:block;
  width: 96%;               
  height: 1px;
  margin: 10px 0;
}

textarea {
  resize: none;
}

/****************/
/* || UTILITIES */
/****************/

.large-header {
  margin-top: 20px;
  font-size: 40px;
}

.btn-gold {
  background-color: var(--mu-color);
  padding: 12px 16px;
  font-size: 16px;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 8vw;
}

.img-small {
  width: 50px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-lightgray {
  background-color: lightgray;
}

.error-msg {
  margin-top: 15px;
  color: red;
  display: none;
  font-size: 15px;
  text-align: center;
}

.err-msg {
  color: red;
  font-size: 14px;
  display: none;
  text-align: center;
}

.input-field {
  padding: 8px;
  font-size: 14px;
  font-family: Mulish;
  border: 1px solid lightgray;
  border-radius: 2px;
}

#overlay {
  position: fixed;
  width: 100vw; 
  height: 100vh; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
  display: none;
}

/* Text Colors */
.txt-black { color: black; }
.txt-darkgrey { color: #333; }
.txt-darkgray { color: #333; }

/* Font-weights */
.txt-bold { font-weight: 800; }
.txt-thin { font-weight: 300; }

/***************/
/* || SITEWIDE */
/***************/

/* NAVBAR */

#main-navbar {
  background-color: var(--main-color);
  height: 6vw;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}

#main-navbar .left-nav a {
  color: white;
  font-family: Bungee;
  font-size: 2.5vw;
  margin-right: 20px;
  margin-left: 30px;
}

#main-navbar .left-nav {
  align-items: center;
  display: flex;
}

#main-navbar .right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#main-navbar .right-nav i {
  padding: 28px 30px 0 30px;
  display: block;
  height: 100%;
  color: white;
}

#main-navbar .right-nav i:hover {
  cursor: pointer;
}

#main-navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
}

#main-navbar ul li {
  padding: 0 30px;
  font-size: 20px;
  cursor: pointer;
}

#main-navbar ul li:hover {
  filter: brightness(70%);
}

/* USER ICON MENU */

#user-menu {
  position: fixed;
  width: 10vw;
  height: auto;
  background-color: white;
  color: #333;
  border: 1px solid lightgray;
  border-radius: 4px;
  top: 5vw;
  right: 1vw;
  display: flex;
  justify-content: center;
  font-size: 18px;
  display: none;
  padding: 12px;
}

#user-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#main-navbar .right-nav i:hover + div {
  display: block;
}

#user-menu:hover {
  display: block;
}

#user-menu ul li {
  padding: 0;
  font-size: 16px;
}

#user-menu ul li #log-out {
  color: black;
  font-weight: 300;
}

/******************/
/* || STORE PAGES */
/******************/

/* LOGIN PAGE */

.log-in-box {
  width: 35vw;
  border: 2px solid lightgray;
  border-radius: 8px;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.log-in-box div {
  display: flex;
  margin-top: 35px;
}

.log-in-box div h1 {
  font-family: Bungee;
  font-size: 3vw;
  margin-right: 10px;
}

.log-in-box form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 40px 0;
}

.log-in-box form input {
  margin-bottom: 20px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.log-in-box form button {
  background-color: var(--mu-color);
  height: 36px;
}

/* ACCOUNT CREATION PAGE */

#create-account {
  font-size: 12px;
}

#create-account a {
  color: gray;
}

.create-account-error {
  margin-top: 15px;
  color: red;
  font-size: 15px;
  text-align: center;
}

#create-user-box {
  margin-top: 13vh;
}

/* PROFILE PAGE */

#profile-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  float: left;
  clear: left;
}

#profile-left img { max-width: 100%; }

#profile-left ul#profile-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#profile-left li {
  padding-bottom: 10px;
}

ul#profile-page-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  display: none;
}

ul#profile-page-inputs input {
  padding: 2px;
  font-size: 16px;
  margin-left: 5px;
  font-family: Mulish;
  border: 1px solid lightgray;
  border-radius: 2px;
}

button#edit-profile-btn {
  margin-top: 10px;
}

button#cancel-edit-profile-btn {
  padding: 12px 16px;
  font-size: 16px;
  margin-top: 8px;
  display: none;
}

button#save-edit-profile-btn {
  margin-top: 10px;
  display: none;
}

#edit-bio {
  display: none;
}

p#profile-image-upload-error {
  margin-bottom: 10px;
  color: red;
  text-align: center;
  font-size: 14px;
}

div#profile-page-image-container {
  width: 256px;
  height: 256px;
  border: 10px solid black;
  border-radius: 50%;
  margin-top: 60px;
  margin-bottom: 20px;
  overflow: hidden;
}

button#change-profile-image {
  position: absolute;
  top: 260px;
  right: 55px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--mu-color);
}

#profile-right {
  width: 67%;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

#profile-page-bio-header {
  margin-top: 120px;
  margin-bottom: 15px;
}

h1#profile-page-groups-header {
  margin: 15px 0;
}

ul#profile-page-groups {
  line-height: 1.8;
}

ul#profile-page-groups li a {
  color: black;
}

#profile-right textarea {
  padding: 10px;
  resize: none;
  font-family: Mulish;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

ul#profile-page-groups li a:hover {
  color: var(--mu-color);
}

/* GROUPS PAGE */

#group-page {
  position: relative;
  margin-top: 10vw;
}

section#your-groups {
  padding-bottom: 30px;
}

#your-groups-header {
  margin: 30px 0;
}

button#create-new-group {
  position: absolute;
  top: 8px;
  right: 10px;
}

.group-page-info {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 25px;
  margin-top: 20px;
}

.group-page-info h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

#your-groups, #discover-groups {
  padding-left: 20px;
}

.group-page-info .group-page-desc {
  margin-top: 4px;
  margin-bottom: 10px;
}

.group-page-info div:nth-child(4) {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.group-page-info div:nth-child(4) ul {
  line-height: 1.8;
  margin-right: 50px;
}

.group-page-info div:nth-child(4) button {
  height: 44px;
  width: 70px;
  margin-top: 24px;
  margin-left: 15px;
}

/* Popup group creation form */

#create-group-form {
  padding: 30px;
  margin: auto;
  width: 30vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  z-index: 3;
  position: fixed;
  top: 170px;
  left: 35vw;
  display: none;
  align-items: center;
}

button#create-group-btn {
  width: 100%;
}

button#cancel-create-group-btn {
  width: 16px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 15px;
}

#create-group-form input {
  margin: 15px 0;
  width: 100%;
}

#create-group-form textarea {
  margin-bottom: 15px;
  width: 100%;
}

#create-group-err-msg {
  margin-top: 15px;
}

/* Popup leave-group confirmation window */

div#leave-group-confirmation-window {
  padding: 30px;
  min-width: 260px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  z-index: 3;
  position: fixed;
  top: 310px;
  left: 40vw;
  align-items: center;
  display: none;
}

div#leave-group-confirmation-window div.div-buttons {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

div#leave-group-confirmation-window .div-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

div#leave-group-confirmation-window button {
  padding: 10px;
  font-size: 16px;
  width: 80px;
}